layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab_template name="ide_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="Vertical" {
            pane size="15%" name="Project Tree" command="env" {
    			args "YAZI_CONFIG_HOME=~/.config/zellij/yazi" "yazi"
            }
            children
            pane size="15%" stacked=true {
            	pane name="AI Coding assitant" command="aider" expanded=true
            	pane name="AI Editor Integration" command="aider" {
            		args "--watch-files"
            	}
            }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="File Explorer" {
        pane command="yazi"
    }
	ide_tab name="Typst Editor" {
		floating_panes {
			pane name="Live Compilation"
			pane name="Terminal"
		}
		pane stacked=true {
    		pane name="Helix Editor" command="hx"
			pane name="Git" command="gitui"
			pane name="Spell Checker" command="typst-languagetool" start_suspended=true {
			    args "check" "--options" ".typst-languagetool.json"
			}
			pane name="language-tool server" command="podman" {
			    args "run" "--rm" "-p" "8010:8010" "silviof/docker-languagetool"
			}
		}
	}
}
